@inherits LayoutComponentBase
@inject ArbiBlazor.Services.IAppStatusService appStatusService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 ">
           <div class="text-center">
               <p class="mt-0 mb-0">
                    @WorkingStatus
               </p>
           </div>
           <img src ="@ImagePath" width=32 height =32 class="ps-2"/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

