@page "/exchanges"
@using ArbiBlazor.Shared;
@inject ArbiBlazor.Services.IExchangeService exchangeService
<PageTitle>Exchanges</PageTitle>

<h3 class="display-3">Exchanges</h3>
@if (ExchangeEntities.Count == 0)
{
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

}
else
{
<div class="row">

    @foreach (var ex in ExchangeEntities)
    {
        <div class="col-md-4">
            <ExchangeItem Model="@ex"/>
        </div>
    }
</div>
}