@page "/exchanges"

@using ArbiBlazor.Services
@using ArbiDataLib.Models
@inject IExchangeService exchangeService

<h3>Exchanges</h3>
@if (ExchangeEntities.Count == 0)
{
    <div>
        <p>Loading...</p>
    </div>

}
else
{
    @foreach (var ex in ExchangeEntities)
    {
        <div>
            <h2>@ex.Name</h2>
        </div>
    }
}

@code {
    public List<ExchangeEntityResponse> ExchangeEntities { get; set; } = [];
    protected override async Task OnInitializedAsync()
    {
        ExchangeEntities = await exchangeService.GetWorkingExchanges();
    }
}
