@page "/exchanges"

@using ArbiBlazor.Services
@using ArbiDataLib.Models
@using System.Text.Json
@inject IExchangeService exchangeService

<h3>Exchanges</h3>
@if (ExchangeEntities.Count == 0)
{
    <div>
        <p>Loading...</p>
    </div>

}
else
{
    <div>@DebugStr</div>
    @foreach (var ex in ExchangeEntities)
    {
        <div> hello</div>
        <div>
            <h2>@ex.Id</h2>
        </div>
    }
}

@code {
    public List<ExchangeEntityResponse> ExchangeEntities { get; set; } = [];
    public string DebugStr { get; set; } = "";
    protected override async Task OnInitializedAsync()
    {
        ExchangeEntities = await exchangeService.GetWorkingExchanges();
        DebugStr = JsonSerializer.Serialize(ExchangeEntities);
    }
}
